.left-panel{
  background: #1f1f23;
  width: 200px;
  height: 100vh;
  padding: 20px 10px;
}

hr.line-write{
  border-top: 2px aliceblue solid;
}
a:link, a:visited,  a:hover, a:active
{
  color: #000000;
  text-decoration: none;
}

.item-h-50{
  min-height: 50px;
  max-height: 50px;
}
